@import "mixins.scss";


$black: #011627;
$blacklight: #656073;


* {
  box-sizing: border-box;
  font-family: "HelvericaNeueCyr";
  font-weight: 400;
}

.main-wrap{
  overflow: hidden;
  position: relative;

  //& > div {
  //  position: relative;
  //  z-index: 1;
  //}
}

textarea,
input,
a,
a:focus,
a:active,
a:hover{
  text-decoration: none;
  outline: 0;
}

button{
  outline: 0;
}

a,
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none!important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
}

body{
  color: #090909;
}

body.hidden{

  @include for-992{
    overflow: hidden;
    position: fixed;
  }

}

a{
  color: #090909;
}

h2{
  font-family: "Ubuntu";
  font-size: 20px;
  font-weight: 700;
}

.h2-light{
  font-family: "Ubuntu";
  font-size: 20px;
}

h3{
  font-family: "Ubuntu";
  font-size: 16px;
  font-weight: 700;
}

h4{
  font-family: "Ubuntu";
  font-size: 12px;
  font-weight: 700;
}

.tablet{
  @media (min-width: 992px) {
    display: none !important;
  }
}
.mobile{
  @media (min-width: 768px) {
    display: none !important;
  }
}

input{
  transition: 0.3s;

  &:focus{
    border-color: #5b6e7b !important;
    color: #163143 !important;
  }
  &:active{
    border-color: #5b6e7b !important;
  }

}
.correct input,
.correct textarea{
  color: #5b6e7b !important;
  border-color: #aef7e9 !important;
}

.error-field input,
.error-field textarea{
  color: #5b6e7b !important;
  border-color: #ee789a !important;
}

.page__wrapper{
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}

.row{
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.col{
  padding: 0 15px;
}

.site-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &__inner{
    max-width: 992px;
  }
}

.site-title2{
  font-size: 40px;
  line-height: 120%;
  font-weight: 300;
  letter-spacing: 0.05em;

  color: #090909;

  @include for-992{
    text-align: center;
    font-size: 30px;
    line-height: 103%;
  }
}

.site-btn{
  display: inline-block;
  background: #FFC700;
  padding: 15px 33px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  transition: 0.3s;

  &:hover{
    box-shadow: 0px 0px 9px #FFC700;
  }

  &--red{
    background: #B2114E;
    color: white;
    transition: 0.3s;

    &:hover{
      box-shadow: 0px 0px 9px #B2114E;
    }
  }

  &--img-wrap{
    padding-right: 15px;

    @include for-550{
      padding-right: 0;
    }
  }

  &--img{
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 470px;
    width: 100%;
    color: #FFFFFF;

    img{
      position: absolute;
      right: 0;
      //top: 50%;
      //transform: translateY(-50%) translateX(40%);
      top: 57%;
      transform: translateY(-50%) translateX(47%);

      @include for-550{
        transform: translateY(-50%) translateX(20%);
      }
    }
  }
}


.section{

  &__title{
    margin-bottom: 7px;
  }

  &__content{
    border-left: 1px solid #D4D1C7;
  }

  &__subsection{

  }

  &__subtitle{
    position: relative;
    padding-left: 13px;

    &:before{
      content: '';
      width: 8px;
      height: 1px;
      background: #D4D1C7;
      position: absolute;
      left: 1px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__col-wrap{
    flex-wrap: wrap;
  }

  &__col{
    margin-bottom: 10px;
    display: inline-block;
  }

  &__row{
    margin-bottom: 10px;
    position: relative;
    width: fit-content;
    min-width: 130px;

    &:before{
      content: '';
      position: absolute;
      left: 2px;
      width: calc(100% - 4px);
      top: -7px;
      height: calc(100% + 14px);
      background: #ECE9DF;
      border-radius: 4px;
      transition: .2s all;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
    }

    &.hover{

      &:before{
        visibility: visible;
        opacity: 1;
        z-index: 0;
      }
    }

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__checkbox{

    input{
      display: none;
    }

    label{
      padding: 3px 12px;
      display: flex;
      width: fit-content;
      align-items: center;
      font-size: 14px;
      line-height: 18px;
      color: #0F0F0F;
      position: relative;

      &:before{
        content: '';
        background: #FFFFFF;
        border: 1px solid #D4D1C7;
        box-sizing: border-box;
        border-radius: 4px;
        width: 24px;
        height: 24px;
        display: flex;
        flex: 0 0 24px;
        margin-right: 12px;
        transition: .2s;
      }

      &:after{
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 2px;
        background: #4C17BF url("../img/icon/check-ico.svg") center/10px no-repeat;
        left: 14px;
        position: absolute;
        display: flex;
        transition: .2s;

        visibility: hidden;
        opacity: 0;
      }
    }

    input:checked + label{

      &:before{
          background: #D4D1C7;
      }

      &:after{
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__radio{

    input{
      display: none;
    }

    label{
      padding: 3px 12px;
      display: flex;
      width: fit-content;
      align-items: center;
      font-size: 14px;
      line-height: 18px;
      color: #0F0F0F;
      position: relative;

      &:before{
        content: '';
        background: #FFFFFF;
        border: 1px solid #D4D1C7;
        box-sizing: border-box;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: flex;
        flex: 0 0 24px;
        margin-right: 12px;
        transition: .2s;
      }

      &:after{
        content: '';
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #4C17BF;
        left: 15px;
        position: absolute;
        display: flex;
        transition: .2s;

        visibility: hidden;
        opacity: 0;
      }
    }

    input:checked + label{

      &:before{
        background: #D4D1C7;
      }

      &:after{
        visibility: visible;
        opacity: 1;
      }
    }
  }

}