footer.footer
  .footer__inner.site-container



//.popup.callback
  .popup__body
    .popup__inner
      .popup__closeу
        .popup__close-ico
      .popup__content.callback__content.site-container





