header.header
  .header__inner.site-container
    .header__top
      .header__left
        .header__menu
          .header__menu-item
            a(href="#").header__menu-link Projects
            span.header__menu-arr
            .header__submenu
              .header__submenu-item
                a(href="#").header__submenu-link Projects
              .header__submenu-item
                a(href="#").header__submenu-link Projects
              .header__submenu-item
                a(href="#").header__submenu-link Projects
          .header__menu-item
            a(href="#").header__menu-link User settings
            span.header__menu-arr
            .header__submenu
              .header__submenu-item
                a(href="#").header__submenu-link User settings
              .header__submenu-item
                a(href="#").header__submenu-link User settings
              .header__submenu-item
                a(href="#").header__submenu-link User settings
      .header__right
        .header__btn
          a(href="#").site-btn Purchase
        .header__info 50 min left
        .header__exit
          a(href="#").header__exit-btn
            include ../../img/icon/icon_logout.svg



































