extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "";
  - var pageActive = "homepage";

block content
  //.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

    picture
      source(srcset="./img/logo.webp" type="image/webp")
      source(srcset="./img/logo.jpg" type="image/png")
      img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

  div.main-wrap
    .top-buttons
      .top-buttons__items
        .top-buttons__col
          .top-buttons__col-name Project
          .top-buttons__row
            a(href="#").top-buttons__item
              include ../img/icon/icon_new-file.svg
              span Create
            a(href="#").top-buttons__item
              include ../img/icon/icon_open.svg
              span Open
            a(href="#").top-buttons__item
              include ../img/icon/icon_save.svg
              span Save
            a(href="#").top-buttons__item
              include ../img/icon/icon_save-as.svg
              span Save as
            a(href="#").top-buttons__item
              include ../img/icon/icon_reload.svg
              span Reload
        .top-buttons__col
          .top-buttons__col-name Task
          .top-buttons__row
            a(href="#").top-buttons__item
              include ../img/icon/icon_load.svg
              span Load
            a(href="#").top-buttons__item
              include ../img/icon/icon_save.svg
              span Save
            a(href="#").top-buttons__item
              include ../img/icon/icon_save-as.svg
              span Save as
            a(href="#").top-buttons__item
              include ../img/icon/icon_reset.svg
              span Reset
            a(href="#").top-buttons__item
              include ../img/icon/icon_reload.svg
              span Reload
        .top-buttons__col
          .top-buttons__col-name Configure
          .top-buttons__row
            a(href="#").top-buttons__item
              include ../img/icon/icon_train.svg
              span Train
            a(href="#").top-buttons__item
              include ../img/icon/icon_convert.svg
              span Convert

    .option
      .option__tiems
        a(href="#").option__item.active Extract
        a(href="#").option__item Train
        a(href="#").option__item Convert

