extends _layout

block vars
  - var pageTitle = "Home page";
  - var pageClass = "";
  - var pageActive = "homepage";

block content
  //.webp-img(data-webp="./img/Rectangle5.webp" data-img="./img/Rectangle5.jpg")

    picture
      source(srcset="./img/logo.webp" type="image/webp")
      source(srcset="./img/logo.jpg" type="image/png")
      img(src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="img")

  div.main-wrap
    .top-buttons
      .top-buttons__items.site-container
        .top-buttons__col
          .top-buttons__col-name Project
          .top-buttons__row
            a(href="#").top-buttons__item
              include ../img/icon/icon_new-file.svg
              span Create
            a(href="#").top-buttons__item
              include ../img/icon/icon_open.svg
              span Open
            a(href="#").top-buttons__item
              include ../img/icon/icon_save.svg
              span Save
            a(href="#").top-buttons__item
              include ../img/icon/icon_save-as.svg
              span Save as
            a(href="#").top-buttons__item
              include ../img/icon/icon_reload.svg
              span Reload
        .top-buttons__col
          .top-buttons__col-name Task
          .top-buttons__row
            a(href="#").top-buttons__item
              include ../img/icon/icon_load.svg
              span Load
            a(href="#").top-buttons__item
              include ../img/icon/icon_save.svg
              span Save
            a(href="#").top-buttons__item
              include ../img/icon/icon_save-as.svg
              span Save as
            a(href="#").top-buttons__item
              include ../img/icon/icon_reset.svg
              span Reset
            a(href="#").top-buttons__item
              include ../img/icon/icon_reload.svg
              span Reload
        .top-buttons__col
          .top-buttons__col-name Configure
          .top-buttons__row
            a(href="#").top-buttons__item
              include ../img/icon/icon_train.svg
              span Train
            a(href="#").top-buttons__item
              include ../img/icon/icon_convert.svg
              span Convert

    .option.site-container
      .option__tiems
        a(href="#").option__item.active Extract
        a(href="#").option__item Train
        a(href="#").option__item Convert


    .main-content.site-container
      .main-content__row.row
        .main-content__col.col
          .section.section--data
            h2.section__title Data
            .section__content
              .section__row.hover-js
                .section__inputtext
                  label(for="inputtext01") Input Dir
                  input(type="text" id="inputtext01")
                  a(href="#")
                    include ../img/icon/icon_video.svg
                  a(href="#")
                    include ../img/icon/icon_image.svg
              .section__row.hover-js
                .section__inputtext
                  label(for="inputtext02") Output Dir
                  input(type="text" id="inputtext02")
                  a(href="#")
                    include ../img/icon/icon_open.svg
              .section__row.hover-js
                .section__inputtext
                  label(for="inputtext03") Alignments
                  input(type="text" id="inputtext03")
                  a(href="#")
                    include ../img/icon/icon_new-file.svg

          .section.section--output
            h2.section__title Output
            .section__content
              .section__row.hover-js.slider-wrap
                .section__inputtext
                  label(for="inputtext01") Extract Every N
                  .slider
                  input(type="text").slider-count
              .section__row.hover-js.slider-wrap
                .section__inputtext
                  label(for="inputtext01") Size
                  .slider
                  input(type="text").slider-count
              .section__row.hover-js.slider-wrap
                .section__inputtext
                  label(for="inputtext01") Save Interval
                  .slider
                  input(type="text").slider-count
              .section__row.hover-js
                .section__checkbox
                  input(type="checkbox" id="checkbox00")
                  label(for="checkbox00")
                    span Debug Landmarks

          .section
            h2.section__title Settings
            .section__content
              .section__row.hover-js
                .section__checkbox
                  input(type="checkbox" id="checkbox01")
                  label(for="checkbox01")
                    span Skip Existing
              .section__row.hover-js
                .section__checkbox
                  input(type="checkbox" id="checkbox02")
                  label(for="checkbox02")
                    span Skip Existing Faces
              .section__row.hover-js
                .section__checkbox
                  input(type="checkbox" id="checkbox03")
                  label(for="checkbox03")
                    span Skip Saving Faces
        .main-content__col.col
          .section
            h2.section__title Plugins
            .section__content
              .section__subsection
                h3.section__subtitle Detector
                .section__col-wrap
                  .section__col
                    .section__row.hover-js
                      .section__radio
                        input(type="radio" id="radioButton01" name="radio01")
                        label(for="radioButton01")
                          span Cv2-Dnn
                  .section__col
                    .section__row.hover-js
                      .section__radio
                        input(type="radio" id="radioButton02" name="radio01")
                        label(for="radioButton02")
                          span Mtcnn
                  .section__col
                    .section__row.hover-js
                      .section__radio
                        input(type="radio" id="radioButton03" name="radio01")
                        label(for="radioButton03")
                          span S3Fd
              .section__subsection
                h3.section__subtitle Aligner
                .section__col-wrap
                  .section__col
                    .section__row.hover-js
                      .section__radio
                        input(type="radio" id="radioButton04" name="radio02")
                        label(for="radioButton04")
                          span Cv2-Dnn
                  .section__col
                    .section__row.hover-js
                      .section__radio
                        input(type="radio" id="radioButton05" name="radio02")
                        label(for="radioButton05")
                          span Fan
              .section__subsection
                h3.section__subtitle Normalization
                .section__col-wrap
                  .section__col
                    .section__row.hover-js
                      .section__radio
                        input(type="radio" id="radioButton06" name="radio03")
                        label(for="radioButton06")
                          span None
                  .section__col
                    .section__row.hover-js
                      .section__radio
                        input(type="radio" id="radioButton07" name="radio03")
                        label(for="radioButton07")
                          span Clahe
                  .section__col
                    .section__row.hover-js
                      .section__radio
                        input(type="radio" id="radioButton08" name="radio03")
                        label(for="radioButton08")
                          span Hist
                  .section__col
                    .section__row.hover-js
                      .section__radio
                        input(type="radio" id="radioButton09" name="radio03")
                        label(for="radioButton09")
                          span Mean
              .section__subsection
                h3.section__subtitle Masker
                .section__col-wrap
                  .section__col
                    .section__row.hover-js
                      .section__checkbox
                        input(type="checkbox" id="checkbox04")
                        label(for="checkbox04")
                          span Unet-Dfl
                  .section__col
                    .section__row.hover-js
                      .section__checkbox
                        input(type="checkbox" id="checkbox05")
                        label(for="checkbox05")
                          span Vgg-Clear
                  .section__col
                    .section__row.hover-js
                      .section__checkbox
                        input(type="checkbox" id="checkbox06")
                        label(for="checkbox06")
                          span Vgg-Obstructed
              .section__subsection
                h3.section__subtitle.section__subtitle--input Rotate Images
                  .section__inputtext
                    input(type="text")

        .main-content__col.col
          .section.section--face-processing
            h2.section__title Face Processing
            .section__content
              .section__row.hover-js.slider-wrap
                .section__inputtext
                  label(for="inputtext01") Min Size
                  .slider
                  input(type="text").slider-count
              .section__row.hover-js
                .section__inputtext
                  label(for="inputtext04") Nfilter
                  input(type="text" id="inputtext04")
                  a(href="#")
                    include ../img/icon/icon_filter.svg
              .section__row.hover-js
                .section__inputtext
                  label(for="inputtext05") Filter
                  input(type="text" id="inputtext05")
                  a(href="#")
                    include ../img/icon/icon_filter.svg
              .section__row.hover-js.slider-wrap
                .section__inputtext
                  label(for="inputtext01") Ref Threshold
                  .slider
                  input(type="text").slider-count
          .section.section--global-options
            h2.section__title Global Options
            .section__content
              .section__row.hover-js
                .section__inputtext
                  label(for="inputtext06") Configfile
                  input(type="text" id="inputtext06")
                  a(href="#")
                    include ../img/icon/icon_new-file.svg
              .section__row.hover-js
                .section__select
                  span.section__select-label Loglevel
                  .section__select-i
                    select
                      option(selected value="")
                      option one
                      option two
                      option three
                      option four

              .section__row.hover-js
                .section__inputtext
                  label(for="inputtext07") Logfile
                  input(type="text" id="inputtext07")
                  a(href="#")
                    include ../img/icon/icon_save-as.svg

      .main-content__btn
        button(type="submit").main-content__btn.site-btn2
          span Extract
          include ../img/icon/icon_play.svg

